* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  background: gainsboro;
  min-height: 100vh;
}
.grid-body {
  display: grid;
  grid-template-columns: 1fr 4fr;
  border: 1px solid gray;
}
nav,
header,
section,
aside {
  /* TO BE DELETED */
  border: 1px solid rgb(199, 73, 73);
}
.flex {
  display: flex;
}

.flex-center {
  justify-content: center;
  align-items: center;
}
.flex-column {
  flex-direction: column;
}
/* HEADER & NAVBar */
.newPosts {
  max-width: 100px;
  margin: auto;
}
.navbar {
  border-left: 1px solid #808080;
  position: fixed;
  left: 0;
  width: auto;
  height: 100%;
}
.nav-container {
  width: 272px;
}
.main {
  margin-left: 272px;
  border: 1px solid rgb(46, 77, 192);
}

